<div class="row">
  <h3>{{ loginSuccessMsg }}</h3>
  <p>You are a {{ 'valuable' }} to us, as you have been rated
    <strong>{{ getUserRating() }}</strong>
    To claim the gift, the user must be rated 5 on 5 by our system. Better luck next time.
  </p>
  <!-- Property Binding -->
  <h4 [innerText]="userGiftMsg"></h4>
</div>
<div class="row">
  <div class="col-md-3 form-group">Event Binding (HTML to TS):</div>
  <div class="col-md-9">
    <!-- HTML to Typescript class -->
    <input type="text" class="form-control" (input)="onComment($event)" />
  </div>
  <div class="col-md-3 form-group">String Interpolation (TS to HTML):</div>
  <div class="col-md-9">
    <!-- Typescript class to HTML -->
    <input type="text" class="form-control" value="{{userComment}}" />
  </div>
  <div class="col-md-3 form-group">Two-way Binding:</div>
  <div class="col-md-9">
    <!-- Two-way-binding -->
    <input type="text" class="form-control" [(ngModel)]="userComment" />
  </div>
</div>
<div class="row">
  <button class="btn btn-primary" [disabled]="!userGiftStatus" (click)="onClaimGift();">Claim Gift</button>
</div>